@import "tailwindcss";

@theme {
  --font-poppins: "Poppins", sans-serif;
}


@layer utilities {
 .angkot-bg {
    @apply bg-[#72BD43] text-white;
 }   
 
 /* Hilangkan scrollbar di semua browser */
.no-scrollbar {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none; /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
}